.text-input {
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #D4CEE3;
}

.button1:hover{
    -fx-background-color: #053DBF;
}

.buttonSignIn {
    -fx-background-color: #5C07CF;
    -fx-text-fill: #FFFFFF;
}

.buttonGuest{
    -fx-background-color: #077100;
    -fx-text-fill: #FFFFFF;

}